$color-primary: #e74f4f;
$color-primary-light: #df6969;
$color-primary-dark: #da3f3f;

$color-secondary-light: #74bdb7;
$color-secondary-dark: #5d9e9a;

$color-tertiary-light: #332f2f;
$color-tertiary-dark: #1d1a1a;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-home-light: #fdf6de;
$color-home-dark: #d8a914;
